:root {
    --primary-color: #F3D34A;
    --secondary-color: #464F51;
    --accent1-color: #B8F2E6;
    --accent2-color: #AED9E0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, p {
    max-width: 1000px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--secondary-color);
    position: relative;
}

header img {
    position: absolute;
    z-index: 1;
}

header nav {
    position: relative;
    display: flex;
    justify-content: center;
}

header nav a {
    text-decoration: none;
    padding: 13px 40px;
    margin: 10px 5px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-size: 18px;
    border-radius: 6px;
}

header nav a:hover, header nav a.active {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.hero {
    position: relative;
}

.hero > div {
    max-height: 440px;
    overflow: hidden;
}

.hero > div img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 10px;
    right: 30px;
    font-family: "Rubik Distressed", Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--primary-color);
    text-shadow: 10px 10px 0 var(--secondary-color);
    font-size: 60px;
}

.hero article {
    position: absolute;
    bottom: 40px;
    left: 100px;
}

.hero article p {
    background-color: rgba(248, 232, 162, 0.7);
    /* background-color: var(--primary-color); */
    padding: 20px 10rem 20px 20px;
}

.hero article img {
    position: absolute;
    top: -15px;
    right: 0;
    border-radius: 100%;
    margin-right: 30px;
    border: 3px solid var(--secondary-color);
    width: 7.5rem;
}

h2 {
    font-family: "Rubik Distressed", Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    text-align: center;
    padding: 10px 0;
    margin: 0;
}

main section p {
    padding: 20px;
}

.history {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    box-shadow: 0 0 10px #cfcfcf;
    margin: 20px;
    border-radius: 10px;
}

.history img {
    width: 260px;
    height: auto;
    margin: 20px 0;
    border-radius: 10px;
}

.adventures {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 15px;
    padding: 20px;
}

.adventures figure {
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 10px #cfcfcf;
    border-radius: 5px;
}

.adventures img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.adventures figcaption {
    color: var(--secondary-color);
    font-size: 14px;
}

footer {
    background-color: var(--primary-color);
    text-align: center;
    padding: 20px;
    position: relative;
}

.sociallinks {
    position: absolute;
    top: 10px;
    right: 15px;
}

.sociallinks a {
    text-decoration: none;
    color: var(--primary-color);
    margin: 5px;
}

.sociallinks img {
    width: 40px;
}
