:root {
    --color-dark-blue: darkblue;
    --zero: 0;
    --pixel-1: 1px;
    --pixel-10: 10px;
    --pixel-20: 20px;
    --pixel-200: 200px;
    --center: center;
}

nav {
    background-color: var(--color-dark-blue);
    padding: var(--pixel-10);
}

nav a {
    color: white;
    display: block;
    padding: var(--pixel-20);
}

h1 {
    color: var(--color-dark-blue);
}

main img {
    width: 150px;
    height: auto;
    border: var(--pixel-1) solid black;
    padding: 2px;
    box-shadow: var(--zero) var(--zero) 30px gray;
}

p {
    padding: var(--zero);
}

main {
    max-width: 840px;
}

aside {
    width: auto;
    max-width: 500px;
    min-width: var(--pixel-200);
    margin: var(--pixel-10);
    border: var(--pixel-1) solid #00000050;
    padding: var(--pixel-20);
    background-color: rgb(212, 234, 251);
    color: rgb(var(--zero) , 71, 122);;
    text-align: var(--center);
}

aside img {
    width: var(--pixel-200);
    height: auto;
}

footer {
    margin-top: var(--pixel-20);
    border-top: var(--pixel-1) solid #00000033;
    text-align: var(--center);
}
